@using Web.Models.KuryeciGiris
@model SifreUnuttum
@{
    Layout = "~/Views/Shared/_LayoutGiris.cshtml";
}

<section id="giris-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-7 col-lg-6 col-xl-4">
                <p class="merhaba text-center px-1">
                    <span class="fw-bold fs-5">Merhaba,</span><br>YETERKİ İSTE sistemine giriş yap
                </p>
                <div class="card rounded-0 border-0 p-5">
                    <div class="form-content p-0">
                        <h4 class="text-center text-white fw-bold mb-4">Şifre Sıfırlama</h4>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <form asp-controller="Giris" asp-action="KuryeciSifreUnuttum" class="kurye-form" method="post">
                            <div class="mb-2">
                                <label class="form-label text-white">E-posta</label>
                                <input asp-for="Eposta" type="email" class="w-100 p-1 border-0" />
                                <span asp-validation-for="Eposta" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn-giris btn w-100 mt-2 rounded-0">Şifre Sıfırla</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}