@{
    Layout = "~/Views/Shared/_LayoutGiris.cshtml";
}

<section id="siparisler-kullanici-section" style="padding:80px 0" ;>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-11">
                <div id="loginWarning" class="alert alert-success mb-0">
                    Lütfen siparişlerinizi görüntülemek için giriş yapınız.
                </div>
            </div>
        </div>
    </div>
</section>
