@{
    Layout = "~/Views/Shared/_LayoutGiris.cshtml";
}

<section id="sss-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-11">
                <h2 class="text-center fw-bold mb-4">Sıkça Sorulan Sorular</h2>
            </div>
            <div class="col-12 col-xl-11">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed text-black" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Kurye hizmetiniz hangi bölgeleri kapsıyor?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Hizmetimiz şehir içi tüm bölgelere yöneliktir. Detaylı bölge listesine web
                                sitemizden ulaşabilirsiniz.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed text-black" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Gönderim ne kadar sürede teslim edilir?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Gönderim yoğunluğa ve mesafeye bağlı olarak genellikle 30 ila 90 dakika içinde
                                teslim edilir.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed text-black" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                Kuryemi nasıl takip edebilirim?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Web sitemiz veya mobil uygulamamız üzerinden canlı konum takibi yapabilirsiniz.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed text-black" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseThree">
                                Aynı gün teslimat mümkün mü?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Evet, gönderileriniz aynı gün içerisinde güvenli şekilde teslim edilir.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed text-black" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false"
                                    aria-controls="collapseThree">
                                Kırılabilir ürünler için özel taşıma sağlıyor musunuz?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Evet, kırılabilir ürünler özel ekipman ve dikkatle taşınmaktadır.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed text-black" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Kurye çağırmak için ne yapmalıyım?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Web sitemizdeki "Kurye Çağır" butonunu kullanarak hızlıca kurye talebinde
                                bulunabilirsiniz.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>