<section id="hakkimizda-section" class="bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-11">
                <div class="row">
                    <div class="col-12 col-lg-6 order-lg-2">
                        <div class="bg-container mb-4 mb-lg-0">
                            <img class="img-fluid" src="~/imgs/hakkimizda.jpg" alt="image" data-aos="zoom-in-up" data-aos-delay="200">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div>
                            <h2 class="mb-4" data-aos="fade-up" data-aos-delay="200">Hakkımızda</h2>
                            <div class="d-flex align-items-center gap-4 mb-4 mb-xxl-5" data-aos="fade-up" data-aos-delay="250">
                                <div class="img-cont bg-white d-flex align-items-center justify-content-center flex-shrink-0">
                                    <img src="~/imgs/hakkimizda-1.svg" alt="image" width="35" height="35">
                                </div>
                                <p class="mb-0">
                                    kurulduğumuz andan itibaren teknolojik altyapımızı kullanarak, markaların
                                    kendi işlerine odaklanıp ürünlerini müşterilerine anında ulaştırabildikleri bir dünya
                                    için çalışıyoruz.
                                </p>
                            </div>
                            <div class="d-flex align-items-center gap-4 mb-4 mb-xxl-5" data-aos="fade-up" data-aos-delay="300">
                                <div class="img-cont bg-white d-flex align-items-center justify-content-center flex-shrink-0">
                                    <img src="~/imgs/hakkimizda-2.svg" alt="image" width="35" height="35">
                                </div>
                                <p>
                                    Şirketlerin müşterilerine anında ulaşabilmesi için varız. Çalıştığımız şirketler için
                                    ekipler kurar teknoloji altyapısı ile en verimli şekilde yönetiriz.
                                </p>
                            </div>
                            <div class="d-flex align-items-center gap-4" data-aos="fade-up" data-aos-delay="350">
                                <div class="img-cont bg-white d-flex align-items-center justify-content-center flex-shrink-0">
                                    <img src="~/imgs/hakkimizda-3.svg" alt="image">
                                </div>
                                <p>
                                    7 gün/24 saat. Resmi tatil, idari tatil, haftasonu tatili farketmeksizin kesintisiz kurye
                                    hizmeti sunarız.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ekip-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-11">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="bg-container mb-4 mb-lg-0">
                            <img class="img-fluid" src="~/imgs/ekibimiz.jpg" alt="image" data-aos="zoom-in-up" data-aos-delay="200">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="h-100 d-flex flex-column justify-content-lg-center">
                            <h2 class="mb-4" data-aos="fade-up" data-aos-delay="200">Ekibimiz</h2>
                            <div class="d-flex align-items-center gap-4 mb-4 mb-xxl-5" data-aos="fade-up" data-aos-delay="250">
                                <div class="img-cont bg-white d-flex align-items-center justify-content-center flex-shrink-0">
                                    <img src="~/imgs/ekip-1.svg" alt="image" width="35" height="35">
                                </div>
                                <p class="mb-0">
                                    5000+ kurye arkadaşımız ve 150 profesyonel merkez ofis çalışanlarımız ile
                                    dev bir aileyiz.
                                </p>
                            </div>
                            <div class="d-flex align-items-center gap-4 mb-4 mb-xxl-5" data-aos="fade-up" data-aos-delay="300">
                                <div class="img-cont bg-white d-flex align-items-center justify-content-center flex-shrink-0">
                                    <img src="~/imgs/ekip-2.svg" alt="image" width="35" height="35">
                                </div>
                                <p>
                                    Biz bir insan şirketiyiz. Çalışanlarımızla sağlıklı beraberliğimiz işimizin temelidir.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
