#aktif-siparis-section {
    padding: 70px 0;
}

#aktif-siparis-section h2 {
    font-family: "Jockey One", sans-serif;
    font-size: calc(2rem + 1vw);
    letter-spacing: 1px;
}

#aktif-siparis-section .siparis {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}