@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section id="hero-section">
    <div class="layer h-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-11">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-xxl-7">
                        </div>
                        <div class="col-12 col-md-8 col-lg-6 col-xxl-5">
                            <div data-aos="fade-up" data-aos-delay="300">
                                <h1 class="main-title text-white text-center fw-bold">
                                    Hızlı ve Güvenilir
                                    <span>Kurye</span> Hizmeti
                                </h1>
                                <p class="desc text-center">
                                    Gönderilerinizi dakikalar içinde dilediğiniz
                                    adrese güvenle
                                    ulaştırıyoruz.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="modeller-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-11">
                <div class="text-center">
                    <h2 class="fw-bold" data-aos="zoom-in" data-aos-delay="200">Kurye Modellerimiz</h2>
                    <p class="mb-5" data-aos="zoom-in" data-aos-delay="250">
                        Yeni nesil yeşil lojistik kurye modellerimizle sürdürülebilir hizmet sunmaya devam
                        ediyoruz
                    </p>
                    <div class="kuryeler d-flex justify-content-center flex-wrap gap-3">
                        <img src="~/imgs/yaya-kurye.png" alt="img" data-aos="fade-right"
                             data-aos-delay="350"
                             data-aos-easing="linear">
                        <img src="~/imgs/scooterli-kurye.png" alt="img" data-aos="fade-right" data-aos-delay="300"
                             data-aos-easing="linear">
                        <img src="~/imgs/bisikletli-kurye.png" alt="img" data-aos="fade-right" data-aos-delay="250"
                             data-aos-easing="linear">
                        <img src="~/imgs/motosikletli-kurye.png" alt="img" data-aos="fade-right" data-aos-delay="200"
                             data-aos-easing="linear">
                        <img src="~/imgs/arabali-kurye.png" alt="img" data-aos="fade-right" data-aos-delay="150"
                             data-aos-easing="linear">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="neden-biz-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-11">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <h2 class="fw-bold text-white mb-4" data-aos="zoom-in" data-aos-delay="200">Neden Biz?</h2>
                            <p class="text-white mb-5" data-aos="zoom-in" data-aos-delay="250">
                                Müşterilerimizin ve Kuryelerimizin neden bizi tercih ettiklerini
                                3
                                başlıkta okumak
                                ister misin
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center gx-xl-5">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="text-white d-flex flex-column align-items-center text-center mb-4 mb-lg-0">
                            <img class="mb-4" src="~/imgs/security.svg" alt="img" data-aos="flip-left"
                                 data-aos-easing="ease-out-cubic"
                                 data-aos-duration="1500">
                            <h3 data-aos="zoom-in" data-aos-delay="200">Üst Düzey Güvenlik</h3>
                            <p data-aos="fade-up" data-aos-delay="250">
                                Kuryelerimizin ihtiyaç duyduğu tüm ekipmanların en güvenilir olanlarını seçerek,
                                kuryelerimize sağlıyoruz.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="text-white d-flex flex-column align-items-center text-center mb-4 mb-lg-0">
                            <img class="mb-4" src="~/imgs/location.svg" alt="img" data-aos="flip-left"
                                 data-aos-easing="ease-out-cubic"
                                 data-aos-duration="1500">
                            <h3 data-aos="zoom-in" data-aos-delay="200">Teknolojik Altyapı</h3>
                            <p data-aos="fade-up" data-aos-delay="250">
                                Yazılımsal altyapımız sayesinde yapay zeka destekli bir teslimat çözümü olarak hizmet
                                veriyoruz.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="text-white d-flex flex-column align-items-center text-center mb-4 mb-lg-0">
                            <img class="mb-4" src="~/imgs/map.svg" alt="img" data-aos="flip-left"
                                 data-aos-easing="ease-out-cubic"
                                 data-aos-duration="1500">
                            <h3 data-aos="zoom-in" data-aos-delay="200">Geniş Kurye Ağı</h3>
                            <p data-aos="fade-up" data-aos-delay="250">
                                Türkiye'nin her noktasından her gün onlarca kurye sistemimize dahil oluyor, bu sayede
                                gönderileriniz havada kalmamaktadır.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sss-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-11">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center fw-bold mb-4" data-aos="zoom-in" data-aos-delay="200">Sıkça Sorulan Sorular</h2>
                    </div>
                    <div class="col-12">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed text-black" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Kurye hizmetiniz hangi bölgeleri kapsıyor?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Hizmetimiz şehir içi tüm bölgelere yöneliktir. Detaylı bölge listesine web
                                        sitemizden ulaşabilirsiniz.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed text-black" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Gönderim ne kadar sürede teslim edilir?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Gönderim yoğunluğa ve mesafeye bağlı olarak genellikle 30 ila 90 dakika içinde
                                        teslim edilir.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed text-black" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                        Kuryemi nasıl takip edebilirim?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Web sitemiz veya mobil uygulamamız üzerinden canlı konum takibi yapabilirsiniz.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed text-black" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour" aria-expanded="false"
                                            aria-controls="collapseThree">
                                        Aynı gün teslimat mümkün mü?
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Evet, gönderileriniz aynı gün içerisinde güvenli şekilde teslim edilir.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed text-black" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFive" aria-expanded="false"
                                            aria-controls="collapseThree">
                                        Kırılabilir ürünler için özel taşıma sağlıyor musunuz?
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Evet, kırılabilir ürünler özel ekipman ve dikkatle taşınmaktadır.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed text-black" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Kurye çağırmak için ne yapmalıyım?
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Web sitemizdeki "Kurye Çağır" butonunu kullanarak hızlıca kurye talebinde
                                        bulunabilirsiniz.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
